<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loan.approve.repository.mapper.UserCreditAccountMapper">

    <!-- 插入 apply_order -->
    <insert id="insertOrUpdateUserCreditAccount" parameterType="com.loan.approve.repository.dao.UserCreditAccountDAO" useGeneratedKeys="true" keyProperty="user_name,certificate_type,certificate_id">
        INSERT INTO user_credit_account (
             user_name,
             certificate_type,
             certificate_id,
             has_credit_quota,
             valid_date_begin,
             valid_date_end,
             quota_amount,
             used_amount,
             currency)
        VALUES (
                #{userName},
                #{certificateType},
                #{certificateId},
                #{hasCreditQuota},
                #{validDateBegin},
                #{validDateEnd},
                #{quotaAmount},
                #{usedAmount},
                #{currency}
        )
        ON DUPLICATE KEY UPDATE
            user_name = VALUES (user_name),
            certificate_type = VALUES (certificate_type),
            certificate_id = VALUES (certificate_id),
            has_credit_quota = VALUES (has_credit_quota),
            valid_date_begin = VALUES (valid_date_begin),
            valid_date_end = VALUES (valid_date_end),
            quota_amount = VALUES (quota_amount),
            used_amount = VALUES (used_amount),
            currency = VALUES (currency)
    </insert>

    <!-- 根据 user_id + certificate_type + certificate_id 查询 -->
    <select id="selectByUserCertificate" resultType="com.loan.approve.repository.dao.UserCreditAccountDAO">
        SELECT
            user_name,
            certificate_type,
            certificate_id,
            has_credit_quota,
            valid_date_begin,
            valid_date_end,
            quota_amount,
            used_amount,
            currency
        FROM user_credit_account
        WHERE user_name = #{userName}
          AND certificate_type = #{certificateType}
          AND certificate_id = #{certificateID}
    </select>

</mapper>
